[submodule "todo_app/node_modules/.cache/gh-pages/https!github.com!DaniKeys!app_tasks_gh_pages.git"]
	path = todo_app/node_modules/.cache/gh-pages/https!github.com!DaniKeys!app_tasks_gh_pages.git
	url = https://github.com/DaniKeys/app_tasks_gh_pages.git
