
.chulo:active{
    color: black;
    background-color: aqua;
}
.chulo--completed{
    color: black;
    background-color: aqua;
}
.TodoItem-p--complete {
  text-decoration-color: aqua;
    text-decoration: line-through;
  }
.list-custom{
    width: 80%;

}
button.chulo {
    color: aqua;
    background-color: rgb(39, 38, 38);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  button.remove-btn {
    color: aqua;
    background-color: rgb(39, 38, 38);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
  }
  .TodoItem-p{
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  .centerIconList{
    text-align: center;
    color: aqua;
  }
 
  .dateMeta{
    font-family: sans-serif;
  }
  #fontLista{
 size: 50px;
  }